﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 55px;
    padding-bottom: 20px;
    background-color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    background-color: white;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
   
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.title-line {
    margin:2px 1px 2px 0;
    padding: 15px 0 2px 0;
    border-bottom: 2px;
    border-bottom-color: #248ceb;
    border-bottom-style: solid;
}

    .title-line span {
        color: #fff;
        background: #248ceb;
        padding: 7px 20px 5px 10px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        font-size: 18px;
    }
.sectionfirst {
  
    margin:25px 0 5px 0;
    /*border-bottom: 2px;
    border-top-color: rgba(221, 221, 221, 1);
    border-bottom-style: solid;*/
}

.sec {
    margin: 5px 0 0 0;
    padding-top: 10px;
    padding-left: 0;
    padding-bottom:5px;
   
    
}

.zoom {
    padding:10px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

    .zoom:hover {
        -ms-transform: scale(0.5); /* IE 9 */
        -webkit-transform: scale(0.5); /* Safari 3-8 */
        transform: scale(1.09);
    }

#title-detail{
    color:dodgerblue;
    font-family:Arial;
}

#detail {
    font-family: 'Courier New';
    font-size: 21px;
    line-height: 1.4;
}
#carousel-custom {
    margin: 20px auto;
    width: 100%;
}

    #carousel-custom .carousel-indicators {
        margin: 10px 0 0;
        overflow: auto;
        position: static;
        text-align: left;
        white-space: nowrap;
        width: 100%;
    }

        #carousel-custom .carousel-indicators li {
            background-color: transparent;
            -webkit-border-radius: 0;
            border-radius: 0;
            display: inline-block;
            height: auto;
            margin: 0 !important;
            width: auto;
        }

            #carousel-custom .carousel-indicators li img {
                display: block;
            }

    #carousel-custom .carousel-outer {
        position: relative;
    }

    /*dropzone*/
html, body {
    height: 100%;
}

#actions {
    margin: 2em 0;
}


/* Mimic table appearance */
div.table {
    display: table;
}

    div.table .file-row {
        display: table-row;
    }

        div.table .file-row > div {
            display: table-cell;
            vertical-align: top;
            border-top: 1px solid #ddd;
            padding: 8px;
        }

        div.table .file-row:nth-child(odd) {
            background: #f9f9f9;
        }



/* The total progress gets shown by event listeners */
#total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#previews .file-row .delete {
    display: none;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
    display: none;
}

#previews .file-row.dz-success .delete {
    display: block;
}
