﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row sec">
    <div class="col-md-9" style="margin-left:-10px">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

            <div class="carousel-outer">
                <div class="carousel-inner" role="listbox">
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < ViewBag.dataimg.Count; i++)
                        {
                            String cStr = "";
                            if (i < 1)
                            {
                                cStr = "active";
                            }
                            else
                            {
                                cStr = "";
                            }
                            <li data-target="#myCarousel" data-slide-to="@i" class="@cStr"></li>
                        }
                        @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>*@
                    </ol>
                    @for (int i = 0; i < ViewBag.dataimg.Count; i++)
                    {
                        String cDiv = "";
                        String slide = "";
                        String slideDetail = "";
                        slide = "slide" + i.ToString();
                        slideDetail = "slideDetail" + i.ToString();
                        if (i < 1)
                        {
                            cDiv = "item active";

                        }
                        else
                        {
                            cDiv = "item";
                        }
                        <div id="@slide" class="@cDiv">
                            <a asp-controller="nyt_News" asp-action="Details" asp-route-id="@ViewBag.dataimg[i].Id">
                                @{ String path = "http://192.168.2.11/information" + ViewBag.dataimg[i].img;}
                                <img src="@path" alt="ASP.NET" class="" style="width:1500px;height:350px" />
                                <div class="carousel-caption" role="option">

                                    <p id="@slideDetail" style="display:none">
                                        @ViewBag.dataimg[i].detail

                                    </p>
                                </div>
                            </a>

                        </div>
                    }


                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div>

    </div>
    <div class="col-md-3">
        <div style="margin-top:-20px">
            <div class="title-line">
                <span>
                    ข่าวใหม่
                </span>
            </div>
            @*<h3 id="title-detail" class="my-3">Project Description</h3>*@
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>*@
            <p id="cDetail"></p>
        </div>


    </div>
</div>

<div class="">
    <div class="title-line">
        <span>
            ประชาสัมพันธ์
        </span>
    </div>

    <div class="row">
        @*<div class="col-md-3">
                <h2>Application uses</h2>
                <ul>
                    <li>Sample pages using ASP.NET Core MVC</li>
                    <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
                </ul>
            </div>*@
        @foreach (var item in ViewBag.datanormal)
        {
            <a asp-controller="nyt_News" asp-action="Details" asp-route-id="@item.Id">
                <div class="col-md-4" style="margin-top:3px">
                    <div class="card">
                        @{ String path = "http://192.168.2.11/information" + item.img;}
                        <img src="@path" style="width:357px" class="zoom" />
                        <div class="card-body">
                            <p class="card-text">

                                @item.detail.ToString().Substring(0, 100)..
                            </p>
                            <hr />
                            @item.createdate
                        </div>
                    </div>
                </div>
            </a>

        }

    </div>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {
            $("#home").addClass("active");
            var s = document.getElementById("slideDetail0").innerText;
            if (s.length > 240) {
                s = s.substring(0, 240);
            }
            $("#cDetail").text(s);
            // alert(s);
            $('#myCarousel').on('slid.bs.carousel', function () {
                for (i = 0; i <= 3; i++) {

                    if ($("#slide" + i).hasClass("active")) {

                        s = document.getElementById("slideDetail" + i).innerText;
                        // alert(s.length);
                        if (s.length > 240) {
                            s = s.substring(0, 240);
                        }
                        $("#cDetail").html(s);
                    }
                }

            })

        });
    </script>
    <script type="text/javascript">
        function addDetail(title, detail) {
            $("#cDetail").html(title);
        }
    </script>
}




