﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Namyong Terminal</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    @*<link href="~/home_lib/images/favicon.png" rel="icon">*@
    <link rel="icon" href="~/images/logo_namyong_icon_MIX_icon.ico" type="image/x-icon">
    <link href="~/home_lib/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/home_lib/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Libraries CSS Files -->
    <link href="~/home_lib/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <link href="~/home_lib/css/style.css" rel="stylesheet" />
</head>

<body>
    <!--==========================
    Header
    ============================-->
    <header id="header" class="fixed-top">
        <div class="container">
            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <a href="#intro" class="scrollto"><img src="~/home_lib/images/logo.jpg" alt="" class="img-fluid"></a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#intro">หน้าหลัก</a></li>
                    <li><a asp-area="" asp-controller="nyt_News" asp-action="Index">แจ้งข่าวสาร</a></li>
                    @*<li><a href="#services">Services</a></li>*@
                    <li><a href="#portfolio">กิจกรรม</a></li>
                    @*<li><a href="#team">Team</a></li>*@
                    <li class="drop-down">
                        <a href="">หน่วยงาน</a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="drop-down">
                                <a href="#">Drop Down 2</a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            <li><a href="#">Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">เบอร์ติดต่อภายใน</a></li>
                    @if (User.Identity.Name != null)
                    {
                        <li class="dropdown dropdown-menu-right">
                            <a class="" data-toggle="dropdown" href="#">@User.Identity.Name <span class="caret"></span> </a>

                            <ul class="dropdown-menu">
                                <li><a href="http://LCBAPP01/information/Account/Logout"><i class="feather icon-settings"></i> Logout</a></li>
                            </ul>


                        </li>
                    }
                    @if (User.Identity.Name == null)
                    {
                        <li><a href="http://LCBAPP01/account/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    }
                </ul>
            </nav><!-- .main-nav -->
        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix">
        <div class="container">
            <div class="intro-img">
                @*<img src="~/home_lib/images/intro-img.svg" alt="" class="img-fluid">*@
                @{ String path = "/information" + ViewBag.dataimg[0].img;}
                <img src="@path" alt="ASP.NET" class="" style="width:620px;height:350px" />
            </div>

            <div class="intro-info">
                <h2>พื้นที่สำหรับ<br><span>แจ้งข่าวสารและกิจกรรม</span><br>ของพวกเราชาวนามยง!</h2>
                <div>
                    <a href="#about" class="btn-get-started scrollto">รายละเอียดเพิ่มเติม</a>
                </div>
            </div>
        </div>
    </section><!-- #intro -->
    <main id="main" role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-9 blog-main">
                    <h2 class="pb-4 border-bottom">
                        News/Event
                    </h2>
                    @foreach (var item in ViewBag.datanormal)
                    {
                        <div class="card mb-2 border-0">
                            <div class="row no-gutters">
                                <div class="card-img col-md-5">
                                    @{ String pathnews = "/information" + item.img;}
                                    <img src="@pathnews" class="card-img" alt="..." style="height:180px">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.title</h5>
                                        <p class="card-text">@item.detail.ToString().Substring(0,100)...</p>
                                        <a asp-controller="nyt_News" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">อ่านต่อ...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div><!-- /.blog-main -->

                <aside class="col-md-3 blog-sidebar">

                    <div class="p-4">
                        @*<h4 class="font-italic">Archives</h4>*@
                        <div class="card mb-1">
                            <img src="~/home_lib/images/clients/client-2.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card mb-1">
                            <img src="~/home_lib/images/clients/client-3.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card mb-1">
                            <img src="~/home_lib/images/clients/client-5.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card mb-1">
                            <img src="~/home_lib/images/clients/client-8.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card mb-1">
                            <img src="~/home_lib/images/clients/client-2.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card mb-1">
                            <img src="~/home_lib/images/clients/client-3.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card mb-1">
                            <img src="~/home_lib/images/clients/client-5.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card mb-1">
                            <img src="~/home_lib/images/clients/client-8.png" class="card-img-top" alt="...">
                        </div>
                    </div>

                    <div class="p-4">
                        <h4 class="font-italic">Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="https://www.namyongterminal.com/">นามยงเทอร์มินัล จำกัด(มหาชน)</a></li>
                        </ol>
                    </div>
                </aside><!-- /.blog-sidebar -->

            </div><!-- /.row -->
        </div>

    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="~/home_lib/lib/jquery/jquery.min.js"></script>
    <script src="~/home_lib/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/home_lib/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/home_lib/lib/easing/easing.min.js"></script>
    <script src="~/home_lib/lib/mobile-nav/mobile-nav.js"></script>
    <script src="~/home_lib/lib/wow/wow.min.js"></script>
    <script src="~/home_lib/lib/waypoints/waypoints.min.js"></script>
    <script src="~/home_lib/lib/counterup/counterup.min.js"></script>
    <script src="~/home_lib/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/home_lib/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/home_lib/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Template Main Javascript File -->
    <script src="~/home_lib/js/main.js"></script>

    <script>
        (function ($) {
            $('.carousel').carousel({
                interval: 2000
            })
        });
    </script>

</body>
</html>
