﻿@model IEnumerable<Intra_nyt_default_template.ModelsView.Document>
<div class="row" style="margin:10px 10px">
    <div class="col-sm-6">
        <div class="title-line">
            <span>
                Document List
            </span>
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-top-0">Title</th>
                            <th class="border-top-0">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(m => item.title)</td>
                            <td>@Html.DisplayFor(m => item.createdate)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>