﻿@model Intra_nyt_default_template.Models.DocumentViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin:10px 10px">
    <form id="FormSearh" data-ajax="true"
          data-ajax-method="POST"S
          data-ajax-update="#"
          asp-action=""
          asp-controller=""
          >

    </form>
</div>
<div id="DocList">
    @await Html.PartialAsync("_DocumentList", Model.DocumentList)
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    
 }
