﻿
@{
    ViewData["Title"] = "Login";
}


<div class="title-line">
    <span>
        Register
    </span>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form asp-controller="Account" asp-action="Login" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-10">
                            <input class="form-control" type="text" id="user" name="user" placeholder="Username" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10">
                            <input class="form-control" type="password" id="pass" name="pass" placeholder="Password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-primary form-control" value="Login" />
                        </div>
                    </div>
                    
                </form>
                
            </div>

        </div>
    </div>
</div>


