﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Intra_nyt_default_template</title>
  
    <link rel="icon" href="~/images/logo_namyong_icon_MIX_icon.ico" type="image/x-icon">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
   
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="~/images/Logo_Namyong.PNG" width="150" height="60" />
                </a>
            </div>
            <br />

            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li id="home"><a asp-area="" asp-controller="Home" asp-action="Index">หน้าหลัก</a></li>
                    <li id="information"><a asp-area="" asp-controller="nyt_News" asp-action="Index">แจ้งข่าวสาร </a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">หน่วยงาน <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="drop">
                                <a class="dropdown-toggle" data-slide="dropdown" href="#">Drop Down 2 <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            <li><a href="#">Drop Down 5</a></li>
                        </ul>
                    </li>
                    @*<li><a href="http://LCBAPP01/appcenter/App_link?frompage=intranet">Center</a></li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>*@
                    @if (User.Identity.Name != null)
                    {
                        <li class="dropdown dropdown-menu-right">
                            <a class=""  data-toggle="dropdown" href="#">@User.Identity.Name <span class="caret"></span> </a>

                            <ul class="dropdown-menu">
                                <li><a href="http://LCBAPP01/information/Account/Logout"><i class="feather icon-settings"></i> Logout</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.Identity.Name == null)
                    {
                        <li><a href="http://LCBAPP01/account/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />
    <div class="sectionfirst">

    </div>
    <div class="body-content" style="padding-bottom:30px">
        @RenderBody()
    </div>

    <div class="card-footer" style="background-color:white">
        <footer>
            <p>&copy; 2019 - Namyong Terminal PLC.  All rights reserved.</p>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
