﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>NewBiz Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/home_lib/images/favicon.png" rel="icon">
    <link href="~/home_lib/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/home_lib/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Libraries CSS Files -->
    <link href="~/home_lib/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <link href="~/home_lib/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--==========================
    Header
    ============================-->
    <header id="header" class="fixed-top">
        <div class="container">
            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <a href="#intro" class="scrollto"><img src="~/home_lib/images/logo.jpg" alt="" class="img-fluid"></a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#intro">หน้าหลัก</a></li>
                    <li><a href="#about">แจ้งข่าวสาร</a></li>
                    @*<li><a href="#services">Services</a></li>*@
                    <li><a href="#portfolio">กิจกรรม</a></li>
                    @*<li><a href="#team">Team</a></li>*@
                    <li class="drop-down">
                        <a href="">หน่วยงาน</a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="drop-down">
                                <a href="#">Drop Down 2</a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                            <li><a href="#">Drop Down 5</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">เบอร์ติดต่อภายใน</a></li>
                </ul>
            </nav><!-- .main-nav -->
        </div>
    </header><!-- #header -->
    <div>
        @RenderBody()
    </div>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="~/home_lib/lib/jquery/jquery.min.js"></script>
    <script src="~/home_lib/lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/home_lib/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/home_lib/lib/easing/easing.min.js"></script>
    <script src="~/home_lib/lib/mobile-nav/mobile-nav.js"></script>
    <script src="~/home_lib/lib/wow/wow.min.js"></script>
    <script src="~/home_lib/lib/waypoints/waypoints.min.js"></script>
    <script src="~/home_lib/lib/counterup/counterup.min.js"></script>
    <script src="~/home_lib/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/home_lib/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/home_lib/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Template Main Javascript File -->
    <script src="~/home_lib/js/main.js"></script>


    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
