﻿@model nyt_Netcore.Models.nyt_News

@{
    ViewData["Title"] = "Create";
}

<div class="title-line">
    <span>
        Add News
    </span>
</div>

<div class="card">
    @*<div class="card-header">
            Add_News
        </div>*@
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            @*<label asp-for="title" class="control-label"></label>*@
                            <input asp-for="title" class="form-control" placeholder="หัวข้อ" />
                            <span asp-validation-for="title" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            @*<label asp-for="status" class="control-label"></label>*@
                            @*<input asp-for="status" class="form-control" placeholder="สภานะ" />*@
                            <select asp-for="status" class="form-control">
                                <option value="Normal">Normal</option>
                                <option value="Main content">Main content</option>

                            </select>
                            <span asp-validation-for="status" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            @*<label asp-for="department" class="control-label"></label>*@
                            @*<input asp-for="department" class="form-control" placeholder="แผนก" />*@
                            <select asp-for="department" asp-items="Model.deplist" class="form-control">
                                <option value="all">แผนก</option>


                            </select>
                            <span asp-validation-for="department" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            @*<label asp-for="detail" class="control-label"></label>*@
                            @*<input asp-for="detail" class="form-control" />*@
                            <textarea asp-for="detail" class="form-control" rows="10" placeholder="รายละเอียด"></textarea>
                            <span asp-validation-for="detail" class="text-danger"></span>
                        </div>
                        @*<div class="form-group  col-md-10">
                            <label asp-for="attachfile" class="control-label"></label>
                            <input type="file" accept=".xls,.xlsx,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" id="file_hidden0" name="file_hidden0" style="display:none" onchange="Handlechange('file','0')" />
                            <input asp-for="attachfile" id="file_show0" class="form-control" placeholder="ไฟล์" onclick="HandleBrowseClick('file','0')" />
                            <span asp-validation-for="attachfile" class="text-danger"></span>
                        </div>
                        <div class="col-md-1 text-left">
                            <input type="button" class="btn btn-theme" id="btn_browse" name="btn" onclick="HandleBrowseClick('file','0')" value="Attachfile" />
                        </div>*@

                        <div id="addimg">
                            <div class="form-group col-md-7">
                                @*<label asp-for="img" class="control-label"></label>*@
                                
                                <input type="file" accept=".jpg,.png,.gif" id="img_hidden0" name="img_hidden0" style="display:none" onchange="Handlechange('img','0')" multiple />
                                <input asp-for="img" id="img_show0" class="form-control" placeholder="รูปภาพ" onclick="HandleBrowseClick('img','0')" />
                                <span asp-validation-for="img" class="text-danger"></span>
                            </div>

                            <div class="col-md-1 text-left">
                                <input type="button" class="btn btn-theme" id="btn_browse" name="btn" onclick="HandleBrowseClick('img','0')" value="Browse" />
                            </div>
                            <div class="col-lg-1 text-right">
                                <span class="btn btn-success" onclick="inputFile()">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </span>

                            </div>

                            <div class="form-group col-md-1">
                                <img id="img0" src="" width="50" height="25" />
                                
                            </div>
                            
                        </div>
                     


                        <input type="hidden" id="row" value="0" />

                    </div>

                    @*<div id="actions" class="row">
                        <div class="col-lg-7">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button dz-clickable">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add files...</span>
                            </span>
                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start upload</span>
                            </button>
                            <button type="reset" class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel upload</span>
                            </button>
                        </div>

                        <div class="col-lg-5">
                            <!-- The global file processing state -->
                            <span class="fileupload-process">
                                <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="table table-striped files" id="previews">
                        <div id="template" class="file-row dz-image-preview">
                            <!-- This is used as the file preview template -->
                            <div>
                                <span class="preview"><img data-dz-thumbnail></span>
                            </div>
                            <div>
                                <p class="name" data-dz-name></p>
                                <strong class="error text-danger" data-dz-errormessage></strong>
                            </div>
                            <div>
                                <p class="size" data-dz-size></p>
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-primary start">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start</span>
                                </button>
                                <button data-dz-remove class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>
                                <button data-dz-remove class="btn btn-danger delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>*@

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $(document).ready(function () {
            $("#information").addClass("active");

        });
    </script>
    <script type="text/javascript">

        function removeFile(id) {
           // alert(id);
            $(id).remove();
        }

        function inputFile() {
            var row = document.getElementById("row").value;
            row = parseInt(row) + 1;
            var obj = document.createElement("div");
            obj.innerHTML = "<div id='addimg" + row +"'> <div class=\"form-group col-md-7\">\n" +
                "<input type='file' accept='.jpg,.png,.gif' id='img_hidden" + row + "' name='img_hidden0' style='display: none' onchange=\"Handlechange('img','" + row + "')\" multiple />" +
                "<input asp-for='img' id='img_show" + row + "' class='form-control' placeholder='รูปภาพ' onclick=\"HandleBrowseClick('img','"+row+"')\" />" +
                "<span asp-validation-for='img' class='text-danger'></span>" +
                "</div>" +
                "<div class=\"col-md-1 text-left\">" +
                "<input type='button' class='btn btn-theme' id='btn_browse' name='btn' onclick=\"HandleBrowseClick('img','" + row +"')\" value='Browse' />" +
                "</div>" +
                "<div class='col-lg-1 text-right'>" +
                "<span class='btn btn-success' onclick=\"inputFile()\">" +
                "<i class='glyphicon glyphicon-plus' ></i>" +
                "</span>" +
                "</div>" +
                "<div class='form-group col-md-1'>" +
                "<img id='img" + row + "' src=\"~/images/unknow2.png\" width='50' height='25' />" +
                " </div>" +
                "<div class='col-lg-1 text-right'>" +
                "<span class=\"btn btn-danger\" onclick=\"removeFile(addimg"+row+")\">" +
                " <i class=\"glyphicon glyphicon-minus\"></i>" +
                "</span>" +
                "</div>" +
                "</div>";
               
            document.getElementById("addimg").appendChild(obj);
            document.getElementById("row").value = row;

        }

        function HandleBrowseClick(type,r) {
            var fileinput
            var row = document.getElementById("row").value;
            if (type == 'img') {
                fileinput = document.getElementById("img_hidden" + r);
            }
            else if (type == 'file') {
                fileinput = document.getElementById("file_hidden" + r);
            }

            fileinput.click();
        }
        function Handlechange(type, r) {
            //localStorage.setItem("access-token", Date.now());
            ///*alert(localStorage.getItem('access-token'));*/
            //alert(document.cookie);
            var row = document.getElementById("row").value;
            var fileinput
            var textinput
            if (type == 'img') {
                fileinput = document.getElementById("img_hidden" + r);
                textinput = document.getElementById("img_show" + r);
                var src = fileinput.value;
                var src1 = src.replace("\\", "/");
                if (fileinput.files && fileinput.files[0]) {
                    var render = new FileReader();
                    render.onload = function (e) {
                        $('#img' + r)
                            .attr('src', e.target.result)
                            .width('100')
                            .height('50')
                    };
                    render.readAsDataURL(fileinput.files[0]);
                    
                }
               
                //$("#img"+r).attr("src", src1);
            }
            else if (type == 'file') {
                fileinput = document.getElementById("file_hidden" + r);
                textinput = document.getElementById("file_show" + r);
            }

            textinput.value = fileinput.value;

        }

    </script>
}
