﻿@model nyt_Netcore.Models.nyt_News

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>nyt_News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.detail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.attachfile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.attachfile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
