﻿@model nyt_Netcore.Models.nyt_News

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4 id="title-detail"><i class="glyphicon glyphicon-tasks"></i> @Model.title</h4>
</div>
@if (User.IsInRole("admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>  |
        <a asp-action="Index">Back to List</a>
    </div>
}



<hr />

<div class="row">

    <div class="col-md-8 col-md-offset-2 text-center" ">
        <div id="carousel-custom" class="carousel slide" data-ride="carousel" data-interval="100000">

            <div class="carousel-outer">
                <div class="carousel-inner" role="listbox">
                    @for (int i = 0; i < ViewBag.gallery.Count; i++)
                    {
                        String cDiv = "";
                        String slide = "";
                        String slideDetail = "";
                        slide = "slide" + i.ToString();
                        slideDetail = "slideDetail" + i.ToString();
                        if (i < 1)
                        {
                            cDiv = "item active";

                        }
                        else
                        {
                            cDiv = "item";
                        }
                        <div id="@slide" class="@cDiv">
                            @{ String path = "http://192.168.2.11/information" + ViewBag.gallery[i].path;}
                            <img src="@path" alt="ASP.NET" class="" style="width:100%;height:400px" />

                        </div>
                    }
                </div>
                <a class="left carousel-control" href="#carousel-custom" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-custom" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="text-center">

                <ol class="carousel-indicators">
                    @for (int i = 0; i < ViewBag.gallery.Count; i++)
                    {
                        String cStr = "";
                        if (i < 1)
                        {
                            cStr = "active";
                        }
                        else
                        {
                            cStr = "";
                        }

                        <li data-target="#carousel-custom" data-slide-to="@i" class="@cStr">
                            @{ String path_ = "http://192.168.2.11/information" + ViewBag.gallery[i].path;}
                            <img src="@path_" width="100" height="50" />
                        </li>
                    }
                    @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>*@
                </ol>

            </div>

        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div id="detail" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
            @Html.DisplayFor(model => model.detail)
        </div>
    </div>

</div>



@*<div>



        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.detail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.detail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.img)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.img)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.attachfile)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.attachfile)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.createdate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.createdate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.department)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.department)
            </dd>
        </dl>
    </div>*@

@section Scripts
    {
   
    <script>
        $(document).ready(function () {
            $("#information").addClass("active");

        });
    </script>
   
}