﻿@*@model IEnumerable<nyt_Netcore.Models.nyt_News>*@
@model ReflectionIT.Mvc.Paging.PagingList<nyt_Netcore.Models.nyt_News>
@using ReflectionIT.Mvc.Paging
@using Microsoft.AspNetCore.Hosting;
@inject IHostingEnvironment _env
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
    {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
}
<div class="title-line" style="margin:10px 10px">
    <span>
        News List
    </span>
</div>
<div class="card" style="margin:10px 10px">
    <div class="card-body">
        <div class="row text-right">

            <form asp-action="Index" enctype="multipart/form-data" method="get">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group date" id="dateFrom">
                            <input type="text" name="dateFrom" class="form-control" value="@Model.RouteValue["dateFrom"]" placeholder="From date" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group date" id="dateTo">
                            <input type="text" name="dateTo" class="form-control" value="@Model.RouteValue["dateTo"]" placeholder="To date" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3 text-right">

                    <select name="status" class="form-control">

                        @if (!string.IsNullOrEmpty(ViewBag.status))
                        {
                            <option value="@Model.RouteValue["status"]">@Model.RouteValue["status"]</option>
                        }
                        <option value="">All</option>
                        <option value="Main content">Main content</option>
                        <option value="Normal">Normal</option>
                    </select>
                </div>
                <div class="col-md-3 text-right">
                    <input type="submit" class="btn btn-primary" value="Search" />
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Create"><input type="button" value="Create" class="btn btn-info" /> </a>
                    }
                </div>

            </form>

        </div>
    </div>
</div>
@*<nav aria-label="Products navigation example">
        <vc:pager paging-list="@Model" />
    </nav>*@
<nav aria-label="Product navigation example" style="margin:10px 10px">
    @Html.Partial("SmallPager", this.Model)
</nav>
<div class="card" style="margin:10px 10px">

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.title)*@
                                หัวข้อ
                            </th>

                            <th>
                                รูปภาพ
                            </th>

                            <th>
                                วันที่
                            </th>
                            <th>
                                สถานะ
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.title)

                                    </a>

                                </td>

                                <td>
                                    @{ String path = "/information" + item.img;}

                                    <img src="@path" height="25" width="50" />
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.createdate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.status)
                                </td>

                                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                {
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>

</div>
<div class="text-right">
    <nav aria-label="Product navigation example">
        @Html.Partial("SmallPager", this.Model)
    </nav>
    @*<nav aria-label="Suppliers navigation example">
            @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
        </nav>*@
</div>

@section Scripts
    {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#information").addClass("active");

        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#dateFrom').datetimepicker({
                format: 'DD/MM/YYYY'
            });
            $('#dateTo').datetimepicker({
                format: 'DD/MM/YYYY'
            });
        });
    </script>
}

